* {
}

div {
  border-radius: 3px;
  padding: 5px;
}

.headder {
  width: 100%;  
  margin: 0 auto;
  padding: 0px;
}

.headder1 {
  position: relative;
  height: 50px;
  margin-top:0px;
  padding: 0px;
}

.headder2 {
	border-radius:0px;
  	position: absolute;
  	top: 55px;
  	height: 52px;
  	z-index: 100;
  	width: 100%;
 	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	padding: 0px;
  	background: linear-gradient(#9ad572, #70AD47);
  	transition: height 300ms;
  	overflow:hidden;
}

.headder2.scrolling {
  position: fixed;
  top: 0px;
}

.headder2:hover
{
	height:200px;
	max-height:100%;
}

.infoHeadder {
  width: 950px;
  margin: 6px auto;
  background: white;
  border:1px solid #000000;
}

.inforHeadderText {
	color:white;
	font-weight:bold;
	width: 950px;
  	margin: 15px auto;
}

.infoHeadder>div{
  display: -webkit-box;
  float: right; 
  padding: 3px 10px;
}

.clearBoth{
	clear:both;
}

.inforHeadderText>div{
	display: -webkit-box;
	float: right;
	padding: 3px 0px;
}

.infoHeadder a {
    margin-left: 50px;
}

.pageContainer{
  width: 950px;
  position: static;
  top: 75px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 0px;
  padding-left: 0px;
  
}

.page{
    border: thin solid black;
    min-height: 1000px;
    width: 100%;
	max-width:100%;
	margin-left: -3px;
}

.title {
	text-align:center;
	font-size:36px;
	font-weight:700;
}

.footer {
	margin:0px;
 	border-top:1px solid #000000;	
	border-radius: 0px;
	height: auto;
	background: linear-gradient(#9ad572, #70AD47);
	width: 100%;
	text-align: center;
	color:white;
	font-weight:bold;
}