* {
  margin: 0; 
}

div {
  background: white;
  border-radius: 10px;
  padding: 5px;
}

.headder {
  width: 100%;  
  margin: 0 auto;
  padding: 0px;
}

.headder div {
  border: thin solid black;
}

.headder1 {
  position: relative;
  height: 50px;
  margin-top:0px;
  padding: 0px;
}

.headder2 {
  position: fixed;
  top: 50px;
  height: 100px;
  z-index: 100;
  width: 100%;
  padding: 0px;
}

.pageContainer{
  width: 950px;
  position: relative;
  top: 109px;
  margin: 0 auto;
}

.page{
    border: thin solid black;
    min-height: 1000px;
}

.sidebar{
  width: 200px;
}

.leftSidebar {
  position: relative;
  height: 1000px;
}

.pageContainter {
  position: relative;
  top: 100px;
  left: 200px;
  height: 800px;
  width: 600px;
}

.rightSidebar {
  position: fixed;
  height: 400px;
  right: 0px;

}

.title {
	text-align:center;
	font-size:36px;
	font-weight:700;
}