doctype html
html
	head
		title Webshop - With awsome products

		link(href='./mainStyle.css', rel='stylesheet') 


	body
		div.headder
			div.headder1
				h1 headder 
				span Contains logo


			div.headder2
				h1 infoHeader

		div.pageContainer
			div.page
				h1 page
				ul
					li Contains product list
					li Contains product info

		


