* {
}

div, span{
  border-radius: 3px;
  padding: 5px;
}

.headder {
  width: 100%;  
  margin: 0 auto;
  padding: 0px;
}

.headder1 {
  position: relative;
  height: 50px;
  margin-top:0px;
  padding: 0px;
}

.headder2 {
	border-radius:0px;
  	position: absolute;
  	top: 55px;
  	height: 52px;
  	z-index: 100;
  	width: 100%;
 	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	padding: 0px;
  	background: linear-gradient(#9ad572, #70AD47);
  	transition: height 300ms;
  	overflow: hidden;
}

.headder2.dragover {
  border: 2px dashed #000;
}


.headder2.scrolling {
  position: fixed;
  top: 0px;
}

.headder2:hover
{
	height:200px;
	max-height:100%;
}

.infoHeadder {
  width: 950px;
  margin: 6px auto;
  background: white;
  border:1px solid #000000;
}

.inforHeadderText {
	color:white;
	font-weight:bold;
	width: 950px;
  	margin: 15px auto;
}

.infoHeadder>div{
  display: -webkit-box;
  float: right; 
  padding: 3px 10px;
}

.clearBoth{
	clear:both;
}

.inforHeadderText>div{
	display: -webkit-box;
	float: right;
	padding: 3px 0px;
}

.infoHeadder a {
    margin-left: 50px;
}

.inforHeadderText table{
	border-spacing:10px 5px;
	border-collapse:separate;
}

.shoppingBasket {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 95px;
	border: solid thin lightgray;
}

.pageContainer{
  width: 950px;
  position: static;
  top: 75px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 0px;
  padding-left: 0px;
  
}

.page{
    border: thin solid black;
    min-height: 1000px;
    width: 100%;
	max-width:100%;
	margin-left: -3px;
}

.title {
	text-align:center;
	font-size:36px;
	font-weight:700;
}

.footer {
	margin:0px;
 	border-top:1px solid #000000;	
	border-radius: 0px;
	height: auto;
	background: linear-gradient(#9ad572, #70AD47);
	width: 100%;
	text-align: center;
	color:white;
	font-weight:bold;
}

.mediumImage {
	height: 100px;
	width: 100px;
}

.itemsListTable td{
	padding-right: 5px;
	vertical-align: top;
}

.itemsListTable li{
	margin-left:20px;
}

#backdrop {
	background-color: black;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 101;
	opacity: 0.7;
	position: fixed;
}

#loginDialog {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 100;	
	display: none;
}

#loginform {
	height: 145px;
	width: 160px;
	margin: 0 auto;
	background-color: white;
	border: thin solid black;
	z-index: 102;
	top: 50px;	
	position: relative;
}

.supportArea {
	background: linear-gradient(#72a5d5, #4781ad);
	border: thin solid black;
	position: fixed;
	bottom: 0px;
	right: 0px;
	height:auto;
	width:230px;
	max-height:500px;
	max-width:100%;
	display: none;
	border-width:2px;
	border-radius: 10px 0px 0px 0px;
}

.supportArea #chatMessages {
	max-width: 100%;
	max-height:300px;
	overflow: auto;
	margin-bottom: 25px;
	margin-top:0px;
	word-wrap:break-word; 
}

.supportArea #chatControls {
	position: fixed;
	bottom:0px;
}

.supportArea hr {
	margin:2px;
}

.itemRow {
	cursor: pointer;
	width: 940px;
}

.itemRow>*{
	display: inline-table;
}

.itemRow>div:nth-child(1){
	position: absolute;
}

.itemRow>div:nth-child(2){
	margin-left: 110px;
	border: solid black thin;
	width: 500px;
	min-height: 95px;
}

.itemRow>div:nth-child(3){
	width: 100px;
	min-height: 95px;
	text-align: right;
	font-family: monospace;
	font-weight: bold;
	font-size: 17px;
}

.itemRow>div:nth-child(4){
	width: 90px;
	min-height: 95px;
	text-align: right;
	margin-right: 30px;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}